$Darkblue: #000022;
$Base: #8867E4;
$Lightblue: #D9CCFF;

body {
  background: $Base;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#symptom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#responses {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 1px solid $Darkblue;
  border-radius: 15px;
  background: $Lightblue;
  padding: 50px;
}

.button {
  color: $Lightblue;
  background: $Darkblue;
}
